@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat:400,500,600&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000000;
}
hr {
    border-top: 1px solid #F49FBC ;
  }
.pinkbackround{
    background-color: #F49FBC;
}
.pink{
    color: #F07FA5
}
.leftborder{
    border-left-color: #F49FBC;
}

.bottomborder{
    border-color: #F49FBC;
}

.white{
    color: white;
}
.project{
        
    background-color: #F49FBC;
}