@import url("https://fonts.googleapis.com/css?family=Lobster|Montserrat:400,500,600&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #000000;
}
hr {
  border-top: 1px solid #f49fbc;
}

/*Same style for multiple classes can be done in the same rule*/
.pinkbackround,
.project {
  background-color: #f49fbc;
}
.pink {
  color: #f07fa5;
}
.leftborder {
  border-left-color: #f49fbc;
}

.bottomborder {
  border-color: #f49fbc;
}

.white {
  color: white;
}
